{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../img/jumbotron.jpg');height: 50vh;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="z-index: 1;">
                    <div class="site-heading">
                        <!-- Title -->
                        <h1 class="mt-4">{{ trick.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="d-flex align-items-end">
        <!--image view-->
            <img class="img-fluid rounded mx-2" src="../img/Tricks/tricks.png" alt="">
            <img class="img-fluid rounded mx-2" src="../img/Tricks/tricks.png" alt="">
        <!--vidéo view-->
            <iframe class="mx-2" width="560" height="350" src="https://www.youtube.com/embed/V9xuy-rVj9w" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="350" src="https://www.youtube.com/embed/QMrelVooJR4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr>

        <!-- Post Content -->
        <p class="lead">{{ trick.description }}</p>


          <div class="row justify-content-center mt-5 mb-5">
              <div class="col-8 mx-auto text-center">
                  <span class="badge bg-info">Catégorie : 
                      {{ trick.group.name | upper }}
                  </span>
                  <span class="badge bg-info">Date de création :{{ trick.createdAt|date('d-m-Y H:i') }}
                  </span>
                  <span class="badge bg-info">Mise à jour :{{ trick.updatedAt|date('d-m-Y H:i') }}
                  </span>
              </div>
          </div>


        <!-- Comments Form -->
          {{ form_start(messageForm) }}
          <div class="row justify-content-center border-bottom border-top col-md-9 mx-auto my-4">

          <div class="form-group">
            <label for="">Commentaire</label>
            {{ form_widget(messageForm.content) }}
          </div>

          <div class="form-group mb-3 d-grid gap-2">
              <button type="submit" class="btn btn-info text-light">Commenter</button>
          </div>

          {{ form_end(messageForm) }}
          </div>


        <!-- Single Comment -->
        {% for message in trick.messages %}

        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Pseudo</h5>
                            
                  <div>{{ message.content }}</div>
              
          </div>
        </div>
        {% endfor %}


            <div class="text-center mt-5">
                <button type="button" class="btn btn-outline-secondary">Voir plus de commentaires</button>
            </div>

        </div>

      </div>
      <!-- /.row -->
      </div>
    <!-- /.container -->
    </div>

{% endblock %}